<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename=arqCss)}}" type="text/css">
    <title>{{titulo}}</title>
</head>
<body>

    <ul>
        <li><a href="contatos">Contatos</a></li>
        <li><a href="index">Home</a></li>

    </ul> 

    {% block conteudo %}
    
    {% endblock %}

    <h5>Este conteudo desenvolvido por carlos argolo </h5>

</body>
</html>